akc.ini
results.json
__pycache__/gmmanagar.cpython-36.pyc
.idea/modules.xml
.idea/RecommendMe.iml
__pycache__/widgets.cpython-36.pyc
__pycache__/kcparser.cpython-36.pyc
__pycache__/enums.cpython-36.pyc
.idea/misc.xml
.idea/workspace.xml
__pycache__/frame.cpython-36.pyc
